.landingpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    /* Apply Inter font for all text */
}

.landingpage-header {
    max-width: 800px;
    text-decoration: none;
    color: #265486;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    /* Apply Inter font with light weight */
}

.landingpage-header h1 {
    font-size: 3rem;
    font-weight: 300;
    /* Use light weight for h1 */
    margin-bottom: 10px;
    color: #2c3e50;
}

.landingpage-header h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #34495e;
    margin-top: 0;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .landingpage-header h1 {
        font-size: 2.5rem;
    }

    .landingpage-header h2 {
        font-size: 1.25rem;
    }
}
