.find-coach-container {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto 0 auto;
    /* Added margin-top to move the container towards the top */
}

.find-coach-title {
    text-align: center;
    color: #265486;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
}

.find-coach-sections {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.find-coach-section {
    background-color: #e8f5fd;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.find-coach-section:hover {
    transform: translateY(-5px);
}

.find-coach-region {
    color: #1ba6bf;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}

.city-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.city-list li {
    margin-bottom: 30px;
    margin-top: 30px;
}

.city-list li a {
    text-decoration: none;
    color: #007BFF;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #007BFF;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.city-list li a:hover {
    color: #ffffff;
    background-color: #007BFF;
}
